body {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
}
/* style.css */

/* Header-Styling */
header {
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Schatten hinzufügen */
}

.header-logo img {
  height: 200px;
  border-radius: 10px;
}

.header-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold; /* Fett hinzufügen */
  text-transform: uppercase; /* Großbuchstaben hinzufügen */
  transition: color 0.3s ease; /* Übergangseffekt hinzufügen */
}

.header-links a:hover {
  color: #ff5722; /* Farbe ändern, wenn Maus über Link */
}

/* Warenkorb-Styling */
#shoppingCart {
    width: 30%;
    position: fixed;
    right: 0;
    top: 205px;
    bottom: 0;
    box-shadow: -2px 1px 17px 5px rgb(199 199 199 / 43%);
    background-color: white;
    transition: all 225ms ease-in-out;
  }
